In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df = df.sample(min(10000, len(df)), replace=False).drop('link', axis=1).reset_index(drop=True)

In [6]:
df.head(10)

,artist,song,text
0,Bette Midler,Buckets Of Rain,"Ohh oh, ohh oh, ah \r\nSing to me baby, baby ..."
1,Elton John,Dreamboat,Steamboat waiting by the waterside \r\nSunlig...
2,Kirsty Maccoll,Manhattan Moon,The ship was heaving with a mass of humankind ...
3,Everlast,Die In Yer Arms,[Chorus:] \r\nGirl I wanna die in your arms t...
4,Garth Brooks,She's Gonna Make It,He followed her to work this morning \r\nHe'd...
5,Ray Charles,Georgia On My Mind,"Georgia, Georgia, \r\nThe whole day through ..."
6,Demi Lovato,This Is Me,I've always been the kind of girl \r\nThat hi...
7,Louis Armstrong,Autumn In New York,Autumn in New York \r\nWhy does it seem so in...
8,Willie Nelson,As Time Goes By,This day and age we're living in \r\nGives ca...
9,Ten Years After,I'm Going Home,"Goin' home, my baby \r\nGoin' home, my baby ..."

In [7]:
df['text'][5476]

"No shadow  \r\nNo stars  \r\nNo moon  \r\nNo care  \r\nNovember  \r\nIt only believes  \r\nIn a pile of dead leaves  \r\nAnd a moon  \r\nThat's the color of bone  \r\n  \r\nNo prayers for November  \r\nTo linger longer  \r\nStick your spoon in the wall  \r\nWe'll slaughter them all  \r\n  \r\nNovember has tied me  \r\nTo an old dead tree  \r\nGet word to April  \r\nTo rescue me  \r\nNovember's cold chain  \r\n  \r\nMade of wet boots and rain  \r\nAnd shiny black ravens  \r\nOn chimney smoke lanes  \r\nNovember seems odd  \r\nYou're my firing squad  \r\nNovember  \r\n  \r\nWith my hair slicked back  \r\nWith carrion shellac  \r\nWith the blood from a pheasant  \r\nAnd the bone from a hare  \r\n  \r\nTied to the branches  \r\nOf a roebuck stag  \r\nLeft to wave in the timber  \r\nLike a buck shot flag  \r\n  \r\nGo away you rainsnout  \r\nGo away, blow your brains out  \r\nNovember\r\n\r\n"

In [8]:
df.shape

(10000, 3)

In [9]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [10]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [11]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [14]:
similarity[0]

array([1.        , 0.02443132, 0.01272895, ..., 0.03333394, 0.03960577,
       0.07181668])

In [15]:
df.head(100)

,artist,song,text
0,Bette Midler,Buckets Of Rain,"ohh oh , ohh oh , ah sing to me babi , babi bu..."
1,Elton John,Dreamboat,steamboat wait by the watersid sunlight shine ...
2,Kirsty Maccoll,Manhattan Moon,the ship wa heav with a mass of humankind my h...
3,Everlast,Die In Yer Arms,[ choru : ] girl i wan na die in your arm toni...
4,Garth Brooks,She's Gonna Make It,he follow her to work thi morn he 'd never see...
...,...,...,...
95,Status Quo,I Don't Remember Anymore,i do n't rememb anymor i woke up freezin ' on ...
96,Emmylou Harris,Fair And Tender Ladies,come all you fair and tender ladi take warn ho...
97,Ofra Haza,Ode Le'eli,ode le'e konani tzur pa'ali hua yishma'ah koli...
98,Kiss,"Man Of 1,000 Faces","i walk the street by day , i never know quit w..."
99,Utopia,Magic Dragon Theatre,"look at all the advertis some kind of show , c..."

In [16]:
df[df['song'] == 'SNL']

           artist song                                               text
4248  Miley Cyrus  SNL  do you wan na know whi i 'm here tonight well ...

In [17]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:7]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [18]:

recommendation('SNL')

['Capri Calling',
 'Party Dance',
 'Man We Had A Party',
 'Right There',
 'Give Myself A Party',
 'More Than A Party']

In [19]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))